:root {
    /* --y: 551px;
    --x: 535px; */
    --y: 33px;
    --x: 35px;
}

body {
    background-color: black;
    overflow-y: hidden;
    padding: 0px;
    margin: 0px;
}

.piece {
    position: absolute;
    padding: 0px;
    margin: 0px;
    top: 33px;
    left: 35px;
    /* top: var(--y);
    left: var(--x); */
    /* top: 33px;
    left: 35px; */

    /* left: 554px; */
    /* Add 58 px to go the next one */
    /* Plus a padding of 15 on left and right */
    /* Plus a padding of 15 on top and bottom */
    /* 39 off a center of the tile to move to the next tile */

    /* top: 551px;
    left: 535px; */
    
    margin-top: -10px;
    margin-left: -10px;
    z-index: 1;
}

.piece:hover {
    cursor: pointer;
}

.model { 
    background-color: white;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: inherit;
    margin: inherit;
}

.heal {
    background-color: red;
}

.short-attack {
    background-color: green;
}

.long-attack {
    background-color: blue;
}

.block {
    background-color: brown;
}


.grid {
    /* justify-content: center; */
    margin-top: 500px;
    margin-left: 500px;
    display: grid;
    grid-template-rows: repeat(3, 50px);
    grid-template-columns: repeat(3, 50px);
    row-gap: 8px;
    column-gap: 8px;
}

.full-grid {
    /* justify-content: center; */
    margin-top: 500px;
    margin-left: 500px;
    display: grid;
    grid-template-rows: repeat(5, 50px);
    grid-template-columns: repeat(7, 50px);
    row-gap: 8px;
    column-gap: 8px;
}

.tile {
    background-color: rgb(149, 160, 149);
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 10px;
    justify-content: center;
    position: relative;
    /* z-index: 1; */
}

.link {
    margin-left: 10px;
}

/* .tile:hover {
    cursor: pointer;
} */

/* .tile:active {
    background-color: #ffff00;
} */

.moves-text {
    color: white;
    font-size: 25px;
    position: absolute;
    left: 450px;
    bottom: 300px;
}

.matched-heal {
    background-color: rgb(241, 109, 109);
}

.matched-short-attack {
    background-color: rgb(101, 180, 101);
}

.matched-long-attack {
    background-color: rgb(109, 109, 231);
}

.matched-block {
    background-color: rgb(121, 35, 35);
}
